.box {
  position: relative;
  width: 400px;
  height: 400px;
  color: #fff;
  background: #151320;
  font: 700 2rem "Montserrat";
  line-height: 400px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
}

.box::before,
.box::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  top: -15px;
  left: -15px;
  border-radius: 8px;
  background: linear-gradient(
    120deg,
    #ffffff,
    #d2faff,
    #a6f4ff,
    #7af0ff,
    #4deaff,
    #21e4ff,
    #00deff,
    #00deff,
    #21e4ff,
    #4deaff,
    #7af0ff,
    #a6f4ff,
    #d2faff,
    #ffffff
  );

  background-size: 300%;
  animation: border 12s linear infinite;
}

.box::after {
  filter: blur(20px);
}

@keyframes border {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 300%;
  }
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .box {
    width: 75%;
    height: 100%;
    font-size: 1.5rem;
    line-height: 200px;
    margin: 0 auto;
  }

  .box::before,
  .box::after {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    top: -10px;
    left: -10px;
    border-radius: 5px;
  }
}
